<!DOCTYPE html>
<html lang="">
<head>
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<textarea id="code_snippet">// write your code here</textarea>
<form>
    <div>
        <label for="time_restriction">Time Restriction:</label>
        <input id="time_restriction" name="time_restriction" type="text">
    </div>

    <div>
        <label for="views_restriction">Views Restriction:</label>
        <input id="views_restriction" name="views_restriction" type="text">
    </div>

    <button id="send_snippet" type="submit" onclick="send()">Submit</button>
</form>
<script src="/api.js"></script>
</body>
</html>